.header{
    width: 100%;
    padding: 2px;
    background: black;
}
.header__inner{
    
    padding: 10px;
}
.header-nav{
    display: flex;
    justify-content: space-between;

    padding: 10px;
    margin: 0;
    align-items: center;
}
.header-title{

    margin: 0;
}
.header__logo{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.header-action{
    display: flex;

    list-style: none;
    align-items: center;
}
.header-nav__item{
    margin: 0 5px;

}