.profile-form__content{
    max-width: 70%;
    margin: 0 auto;
}
.profile-form__heading{
    width: 100%;
    padding: 60px 0 20px 0;
    font-size: 20px;
    text-align: center;
}

.profile-user{
    width: 20%;
    display: flex;
    margin: auto 30px;
    align-items: center;
}
.user-image{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
    margin: auto 20px;
}


.image-input::file-selector-button{
    content: "画像を選択する";
    display: block;
    padding: 5px;
    flex-shrink: 0;
    width: 150px;
    border: solid 1px rgb(255, 83, 83);
    border-radius: 5px;
    background: white;
    color: rgb(255, 83, 83);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}


.form{
    width: 50%;
    margin: 0px auto;
    padding: 10px;
}
.form-group{
    margin: 20px 0;
}
.form__title{
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
}
.form__input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.form__error{
    color: red;
}

.form__button-submit{
    width: 100%;
    padding: 6px 30px;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(255, 71, 71);
    color: #fff;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .profile-form__content{
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .profile-form__content{
        max-width: 90%;
    }
    .image-input::file-selector-button{
        width: 120px;
        font-size: 10px;
    }

}