.sell-form__content{
    max-width: 100%;
    text-align: center;
    padding: 10px;
}
.sell-form__heading{
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}
.form-group{
    max-width: 60%;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
}
.form-group__image{
    border: 2px dotted rgb(89, 89, 89);
    border-radius: 5px;
    padding: 50px;
    margin: 0 5px;
    text-align: center;
}
/* input は隠す */
.image-input {
    display: none;
}

/* カスタムボタン */
.image-select-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: rgb(255, 83, 83);
    border: 2px solid rgb(255, 83, 83);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}

.image-select-button:hover {
    color: white;
    background-color: rgb(255, 83, 83);
}



.form-group__category-select {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.category-select {
    cursor: pointer;
}
.category-select input {
    display: none;
}
.category-select__button{
    display: inline-block;
    padding: 4px 14px;
    margin: 8px 5px;
    border: 2px solid rgb(255, 83, 83);
    border-radius: 20px;
    background: #f8f8f8;
    font-size: 14px;
    color:rgb(255, 83, 83);
    transition: 0.2s;
}
.category-select input:checked + .category-select__button{
    background: rgb(255, 83, 83);
    color: white;
    border-color: rgb(255, 83, 83);
}
.condition-select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}
.condition-select option {
    background-color: #5f5f5f;
    color: #ffffff;
}

.form-group__heading{
    font-size: 22px;
    font-weight: bold;
    color: rgb(89, 89, 89);
    border-bottom: 1px solid rgb(89, 89, 89);
}
.form-group__detail{
    margin: 10px 0 40px;
}
.form-group__detail-title{
    font-size: 18px;
    font-weight: bold;
}
.form-group__detail-input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}
.form__button-submit{
    width: 100%;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(255, 83, 83);
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.form__error{
    color: red;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 768px) {
    .form-group{
        max-width: 70%;
    }
}